@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Poppins-Regular;
}

@font-face {
  font-family: "Glyphicons Regular";
  src: url("../fonts/glyphicons-regular.eot");
  src: url("../fonts/glyphicons-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-regular.woff") format("woff"), url("../fonts/glyphicons-regular.ttf") format("truetype"), url("../fonts/glyphicons-regular.svg#glyphiconsregular") format("svg");
}
@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins-Medium;
  src: url("../fonts/poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url("../fonts/poppins/Poppins-SemiBold.ttf");
}
.glyphicons {
  font-family: "Glyphicons Regular";
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.glyphicons-shoe-steps:before {
  content: "";
}

.donate-title {
  font-size: 28px;
}

.myAlert {
  position: fixed !important;
  top: 50px !important;
  width: 100%;
  text-align: center;
  display: none;
}

a {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none !important;
  color: #0074D9;
  color: -webkit-linear-gradient(left, #2ECC40, #0074D9);
  color: -o-linear-gradient(left, #2ECC40, #0074D9);
  color: -moz-linear-gradient(left, #2ECC40, #0074D9);
  color: linear-gradient(left, #2ECC40, #0074D9);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #adadad;
}

input:-moz-placeholder {
  color: #adadad;
}

input::-moz-placeholder {
  color: #adadad;
}

input:-ms-input-placeholder {
  color: #adadad;
}

textarea::-webkit-input-placeholder {
  color: #adadad;
}

textarea:-moz-placeholder {
  color: #adadad;
}

textarea::-moz-placeholder {
  color: #adadad;
}

textarea:-ms-input-placeholder {
  color: #adadad;
}

button.close {
  padding: 5px !important;
  padding-right: 15px !important;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.txt1 {
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.txt2 {
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
}

.wrap-login100 {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 35px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

#dashboard-button, #login-button {
  cursor: pointer;
}

#dashboard-button {
  display: none;
}

.login100-form {
  width: 100%;
}

.sign-up {
  cursor: pointer;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 15px;
}

.login100-form-title i {
  font-size: 60px;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input100 {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #0074D9;
  background: -webkit-linear-gradient(left, #2ECC40, #0074D9);
  background: -o-linear-gradient(left, #2ECC40, #0074D9);
  background: -moz-linear-gradient(left, #2ECC40, #0074D9);
  background: linear-gradient(left, #2ECC40, #0074D9);
}

.focus-input100::after {
  font-size: 15px;
  color: #999999;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.btn-show-pass {
  font-size: 15px;
  color: #999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #0074D9;
  color: -webkit-linear-gradient(left, #2ECC40, #0074D9);
  color: -o-linear-gradient(left, #2ECC40, #0074D9);
  color: -moz-linear-gradient(left, #2ECC40, #0074D9);
  color: linear-gradient(left, #2ECC40, #0074D9);
}

.btn-show-pass.active {
  color: #0074D9;
  color: -webkit-linear-gradient(left, #2ECC40, #0074D9);
  color: -o-linear-gradient(left, #2ECC40, #0074D9);
  color: -moz-linear-gradient(left, #2ECC40, #0074D9);
  color: linear-gradient(left, #2ECC40, #0074D9);
}

.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #0074D9;
  background: -webkit-linear-gradient(right, #2ECC40, #0074D9, #2ECC40, #0074d9);
  background: -o-linear-gradient(right, #2ECC40, #0074d9, #2ECC40, #0074d9);
  background: -moz-linear-gradient(right, #2ECC40, #0074d9, #2ECC40, #0074d9);
  background: linear-gradient(right, #2ECC40, #0074d9, #2ECC40, #0074d9);
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}

.navbar-fixed-bottom, .navbar-fixed-top {
  position: sticky !important;
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 15px 15px 33px 15px;
  }
}
.validate-input {
  position: relative;
}

.alert-validate::after {
  content: "";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;
  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

.zmdi-font:before {
  content: "" !important;
}

/* Shoes catalog styling */
.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shoes-catalog img {
  width: 20em;
  height: auto;
}

.shop-items {
  padding: 1.5em;
}

.modal-background {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-shoe-content {
  background-color: #fefefe;
  border-radius: 4px;
  margin: 8em;
  padding: 1.5em;
  max-width: 800px;
  text-align: center;
}

.hide {
  display: none;
}

.condition {
  padding-top: 5px;
  padding-bottom: 5px;
}

.new-condition {
  border: 1px solid red;
  padding: 3px 8px;
  border-radius: 4px;
  background: red;
  color: white;
  font-weight: bolder;
  margin: 5px;
}

.condition-new {
  display: none;
  border: 1px solid red;
  padding: 3px 8px;
  border-radius: 4px;
  background: red;
  color: white;
  font-weight: bolder;
  margin: 5px;
}

.add-and-donate-btn {
  border: 1px solid black !important;
}

.add-and-donate-btn:hover {
  background: black;
  color: white !important;
}

.myaddress-input {
  display: none;
}

.myphone-input {
  display: none;
}

.shake {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s !important;
}

.price-tag {
  padding-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.42857143;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
}

.shoes-title {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px !important;
  font-size: 25px !important;
}

.proceed-btn {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border: 1px solid black !important;
}

.proceed-btn:hover {
  background: black !important;
  color: white !important;
  transition: 0.5s;
}

footer {
  margin-top: 60px !important;
}

/* shopping cart */
.cartsvg {
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
}

.new-product {
  position: absolute;
  right: 0;
  display: none;
}

.add-remove {
  border: 1px solid black !important;
}

.add-remove:hover {
  background: black !important;
  color: white !important;
}

.cartsvg img {
  width: 25px;
  margin-top: 1em;
}

.navbar {
  margin-bottom: 0 !important;
}

section {
  height: calc(100vh - 20em);
  padding: 4em;
  align-items: center;
}

section:nth-of-type(1) {
  height: calc(100vh - 51px) !important;
  color: #9d9d9d !important;
  padding: 0;
}

.firstSection {
  width: 100%;
  height: 75%;
  max-height: 75%;
}

.secondSection {
  position: relative;
  height: 25%;
}

.firstSectionPic {
  width: 100%;
  height: auto;
  max-height: 100%;
}

section h3 {
  margin: 0 !important;
}

section:nth-of-type(3),
section:nth-of-type(5),
section:nth-of-type(7) {
  background: white;
  color: black;
}

section:nth-of-type(2),
section:nth-of-type(4),
section:nth-of-type(6),
section:nth-of-type(8) {
  background: beige;
  color: black;
}

.firstText {
  text-align: center;
  margin: 15px;
}

.secondText {
  text-align: center;
  margin: 5px;
  margin-bottom: 10px;
  font-size: 21px;
}

.group-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.choice {
  font-size: -webkit-xxx-large;
  margin: 0 !important;
}

.step1,
.step2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 12% 0;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.step1 > div > span {
  font-size: 200px;
  padding-left: 32%;
}

.step-content {
  position: relative;
}

.step1Text1 {
  padding-top: 10%;
  padding-bottom: 5%;
  padding-right: 3%;
  padding-left: 3%;
}

.stepText1 {
  margin: 0 !important;
  position: absolute;
  top: 40%;
  left: 8%;
}

.step1-img {
  object-fit: cover;
  width: 100%;
}

.Step1Text2 {
  text-align: center;
  padding-top: 6%;
}

.step2 > div > span {
  font-size: 200px;
  padding-left: 32%;
}

.step2Text1 {
  position: absolute;
  top: 40%;
  left: 15%;
}

.stepText2 {
  margin: 0 !important;
  position: absolute;
  top: 40%;
  left: 8%;
}

.step2Text {
  text-align: center;
  padding-top: 6%;
}

.divStep3Text1 {
  padding-top: 8%;
}

.form-wrapper {
  padding: 10vh 10vw 80vh 10vw;
  font-size: 1.5em;
}

.button-wrap {
  width: 25%;
}

.contact-header {
  text-align: center;
  margin-top: 2em;
}

.contact-header a {
  background: -webkit-linear-gradient(#0074d9, #2ECC40);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#faq {
  font-size: 3em;
  margin-bottom: 10vh;
}

.faq-link {
  color: #000;
  font-size: 1em;
}

.faq-question {
  color: #0074d9;
  font-size: 1.5em;
  list-style-type: disc;
  margin-bottom: 0.5vh;
}

.faq-answer {
  color: #2ECC40;
  font-size: 1.5em;
  margin-bottom: 5vh;
}

.faq-wrapper {
  margin: 5vh 10vw 5vh 10vw;
  padding: 1vh 2vw 1vh 2vw;
}

.bot-left {
  position: relative;
}

.bot-left:before, .bot-left:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -3px;
}

.bot-left:before {
  top: -3px;
  width: 3px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#0074d9, #2ECC40), to(transparent));
  background-image: -webkit-linear-gradient(transparent, #0074d9, #2ECC40);
  background-image: -moz-linear-gradient(transparent, #0074d9, #2ECC40);
  background-image: -o-linear-gradient(transparent, #0074d9, #2ECC40);
}

.bot-left:after {
  right: -3px;
  height: 3px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#0074d9, #2ECC40), to(transparent));
  background-image: -webkit-linear-gradient(left, #0074d9, #2ECC40, transparent);
  background-image: -moz-linear-gradient(left, #0074d9, #2ECC40, transparent);
  background-image: -o-linear-gradient(left, #0074d9, #2ECC40, transparent);
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 350px !important;
    margin-top: 8% !important;
  }

  .cart-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .single-item {
    position: relative;
    padding: 25px;
  }

  .single-pic {
    display: block;
    margin: 0 auto;
    padding-bottom: 35px;
  }

  .single-item:nth-child(odd) {
    border-right: 2px solid green;
  }

  .single-item {
    border-bottom: 2px solid green;
  }

  .single-item:nth-last-child(1) {
    border-bottom: none;
  }

  .single-item:nth-last-child(2) {
    border-bottom: none;
  }

  .the-total {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
  }

  .name-div, .quantity-div, .price-div, .bar-bottom {
    position: absolute;
    left: 25%;
  }

  .bar-bottom {
    left: 38%;
  }
}
@media (max-width: 768px) {
  .single-item {
    text-align: center;
    padding-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
